@font-face {
    font-family: "zhongzhiqi";
    src: url("./zhongzhiqi.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: "yunfengfeiyun";
    src: url("./yunfengfeiyun.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  